# Ignore anything not whitelisted in this directory, so that custom config files can be kept here.
*

# Whitelist example config files.
!cluster
!driver-10g
!gc
!kryo
!local
!local-multi

# Also sample logs4j.properties file.
!logs4j.properties
